<div class="container">
  <div class="container-fluid mt-4 my-4">
    <img src="../../../assets/training.jpeg" />
  </div>
  <div class="text-center">
    <h2 style="font-weight: bolder; color: brown; text-decoration: underline">
      ABOUT US
    </h2>
    <pre style="font-weight: bolder; color: saddlebrown; font-size: 15px">
      Salary based training for JAVA and Python , will be placed in best company with
      great package with in 3 months

      We will provide jobs for IT and Non-IT, for all degrees and for all years passed
      outs

      We provide both online and offline training .To know more about the 
      technologies read more
    </pre>
  </div>
</div>
