.container-fluid img {
  border-radius: 30px;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
}

.container-fluid {
  border-radius: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment h1 {
  color: darkred;
  font-weight: bolder;
}

@media only screen and (max-width: 1100px) {
  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .comment {
    text-align: center;
    margin-top: 20px;
  }
}
